@import url('//hello.myfonts.net/count/339710');

@import 'variables';

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('#{$font-path}/gilroy-thin.eot');
  src: url('#{$font-path}/gilroy-thin.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-thin.woff2') format('woff2'),
      url('#{$font-path}/gilroy-thin.woff') format('woff'),
      url('#{$font-path}/gilroy-thin.ttf') format('truetype'),
      url('#{$font-path}/gilroy-thin.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-UltraLightItalic';
  src: url('#{$font-path}/gilroy-ultra-light-italic.eot');
  src: url('#{$font-path}/gilroy-ultra-light-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-ultra-light-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-ultra-light-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-ultra-light-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-ultra-light-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-ThinItalic';
  src: url('#{$font-path}/gilroy-thin-italic.eot');
  src: url('#{$font-path}/gilroy-thin-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-thin-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-thin-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-thin-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-thin-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-SemiBoldItalic';
  src: url('#{$font-path}/gilroy-semi-bold-italic.eot');
  src: url('#{$font-path}/gilroy-semi-bold-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-semi-bold-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-semi-bold-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-semi-bold-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-semi-bold-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('#{$font-path}/gilroy-semi-bold.eot');
  src: url('#{$font-path}/gilroy-semi-bold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-semi-bold.woff2') format('woff2'),
      url('#{$font-path}/gilroy-semi-bold.woff') format('woff'),
      url('#{$font-path}/gilroy-semi-bold.ttf') format('truetype'),
      url('#{$font-path}/gilroy-semi-bold.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-UltraLight';
  src: url('#{$font-path}/gilroy-ultra-light.eot');
  src: url('#{$font-path}/gilroy-ultra-light.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-ultra-light.woff2') format('woff2'),
      url('#{$font-path}/gilroy-ultra-light.woff') format('woff'),
      url('#{$font-path}/gilroy-ultra-light.ttf') format('truetype'),
      url('#{$font-path}/gilroy-ultra-light.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('#{$font-path}/gilroy-regular.eot');
  src: url('#{$font-path}/gilroy-regular.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-regular.woff2') format('woff2'),
      url('#{$font-path}/gilroy-regular.woff') format('woff'),
      url('#{$font-path}/gilroy-regular.ttf') format('truetype'),
      url('#{$font-path}/gilroy-regular.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('#{$font-path}/gilroy-regular-italic.eot');
  src: url('#{$font-path}/gilroy-regular-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-regular-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-regular-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-regular-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-regular-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-MediumItalic';
  src: url('#{$font-path}/gilroy-medium-italic.eot');
  src: url('#{$font-path}/gilroy-medium-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-medium-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-medium-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-medium-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-medium-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('#{$font-path}/gilroy-medium.eot');
  src: url('#{$font-path}/gilroy-medium.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-medium.woff2') format('woff2'),
      url('#{$font-path}/gilroy-medium.woff') format('woff'),
      url('#{$font-path}/gilroy-medium.ttf') format('truetype'),
      url('#{$font-path}/gilroy-medium.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-LightItalic';
  src: url('#{$font-path}/gilroy-light-italic.eot');
  src: url('#{$font-path}/gilroy-light-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-light-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-light-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-light-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-light-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('#{$font-path}/gilroy-light.eot');
  src: url('#{$font-path}/gilroy-light.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-light.woff2') format('woff2'),
      url('#{$font-path}/gilroy-light.woff') format('woff'),
      url('#{$font-path}/gilroy-light.ttf') format('truetype'),
      url('#{$font-path}/gilroy-light.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-HeavyItalic';
  src: url('#{$font-path}/gilroy-heavy-italic.eot');
  src: url('#{$font-path}/gilroy-heavy-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-heavy-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-heavy-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-heavy-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-heavy-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('#{$font-path}/gilroy-heavy.eot');
  src: url('#{$font-path}/gilroy-heavy.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-heavy.woff2') format('woff2'),
      url('#{$font-path}/gilroy-heavy.woff') format('woff'),
      url('#{$font-path}/gilroy-heavy.ttf') format('truetype'),
      url('#{$font-path}/gilroy-heavy.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-ExtraBoldItalic';
  src: url('#{$font-path}/gilroy-extra-bold-italic.eot');
  src: url('#{$font-path}/gilroy-extra-bold-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-extra-bold-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-extra-bold-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-extra-bold-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-extra-bold-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('#{$font-path}/gilroy-extra-bold.eot');
  src: url('#{$font-path}/gilroy-extra-bold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-extra-bold.woff2') format('woff2'),
      url('#{$font-path}/gilroy-extra-bold.woff') format('woff'),
      url('#{$font-path}/gilroy-extra-bold.ttf') format('truetype'),
      url('#{$font-path}/gilroy-extra-bold.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-BoldItalic';
  src: url('#{$font-path}/gilroy-bold-italic.eot');
  src: url('#{$font-path}/gilroy-bold-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-bold-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-bold-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-bold-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-bold-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('#{$font-path}/gilroy-bold.eot');
  src: url('#{$font-path}/gilroy-bold.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-bold.woff2') format('woff2'),
      url('#{$font-path}/gilroy-bold.woff') format('woff'),
      url('#{$font-path}/gilroy-bold.ttf') format('truetype'),
      url('#{$font-path}/gilroy-bold.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-BlackItalic';
  src: url('#{$font-path}/gilroy-black-italic.eot');
  src: url('#{$font-path}/gilroy-black-italic.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-black-italic.woff2') format('woff2'),
      url('#{$font-path}/gilroy-black-italic.woff') format('woff'),
      url('#{$font-path}/gilroy-black-italic.ttf') format('truetype'),
      url('#{$font-path}/gilroy-black-italic.svg#wf') format('svg');
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('#{$font-path}/gilroy-black.eot');
  src: url('#{$font-path}/gilroy-black.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/gilroy-black.woff2') format('woff2'),
      url('#{$font-path}/gilroy-black.woff') format('woff'),
      url('#{$font-path}/gilroy-black.ttf') format('truetype'),
      url('#{$font-path}/gilroy-black.svg#wf') format('svg');
}
